<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exported Data</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Exported Data</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for field in queryset.model._meta.fields %}
                        <th>{{ field.verbose_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in queryset %}
                    <tr>
                        {% for field in obj._meta.fields %}
                            <td>{{ obj|attr:field.name }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>